.carousel-wrapper {
  position: relative;
  width: 100%;
  max-width: 680px;
  height: 510px;
  margin: auto;
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.carousel-image.active {
  opacity: 1;
}