

:root {
  --accent-color: #11499c; /* #123a77; */
  --accent-color-light: #5795f1;
}

/* Background shapes */
.shape {
    position: absolute;
    border-radius: 50%;
    z-index: 0;
}

.shape.one {
    width: 200vw;
    height: 200vw;
    top: -10vw;
    left: 110vw;
    transform: translate(-50%, -50%);
    
    background: radial-gradient(circle, #00cba9, transparent 70%);
}

.shape.two {
    width: 200vw;
    height: 200vw;
    top: 200vh;
    left: -10vw;
    transform: translate(-50%, -50%);
    
    background: radial-gradient(circle, #00cba9, transparent 70%);
}


.event-banner{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;  

    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("src/assets/img/fanuc4.png");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-shadow: 0 1px 3px black;


}

.event-content{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 100%;
    color: white;
}

.event-location{
    max-width: 600px;
    padding: 20px;
}
.event-info{
    max-width: 600px;
    padding: 20px;
}