:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #242424;
  background: #1a4c68;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  margin: 0;

  /* Vars */
  --accent-color: 1,56,95; 
}

#root {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}


body {
  font-family: Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  padding: 40px;
  position: relative;
}

.container-horizontal-flex{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.subpage{
  width: 100%;
  height: 100vh;
  display: flex;
  
  justify-content: center;
  align-items: center;

}

main {
  padding: 20px;
}


h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.05rem;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 0.5em;
}

h5 {
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0.5em;
}

h6 {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.35;
  margin-bottom: 0.5em;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1em;
}
